@import url('https://fonts.googleapis.com/css2?family=Anton&family=Bebas+Neue&family=Istok+Web&family=Passion+One&family=Yantramanav:wght@300&display=swap');
* {
    margin: 0;
    padding: 0;
}

.img1 {
    width: 100%;
    text-align: center;
}

.img1 img {
    width: 98%;
}


.section1{
    width: 100%;
}
.section1 .carousel{
    width: 95%;
    margin: 0 auto;
}

.section2{
    width: 100%;
}
.section2 .container-fluid{
    width: 100% !important;
    text-align: center;
}
.section2 .container-fluid img{
    width: 90%;
}

.clothingSection{
    width: 100%;
}
.clothingSection h1{
    font-family: 'Anton', sans-serif;
}
.clothingSection .container-fluid{
    width: 100% !important;
    text-align: center;
}
.clothingSection .container-fluid img{
    width: 90%;
}

.card-text ul{
    text-align: center;
    padding: 0;
    margin: 0;
}
.card-li{
    list-style: none;
    margin: 0;
}
.section2 h1{
    font-family: 'Anton', sans-serif;  
    /* font-weight: bold; */
}
ul{
    padding-left: 0 !important;
}